
* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: #333333;
}

.title {
    margin: 5%, 5%, 0, 5%;
    text-align: center;
}

.text {
    font-size: 14px;
    text-align: left;
    color: #555555;
    padding-left: 10px;
    padding-right: 10px;
}

input[class="title-edit"] {
    text-align: center;
    margin: 10px auto 0 auto;
    display: block;
}

input[class="text-edit"] {
    text-align: center;
    margin: 20px 10px 0 10px;
    display: block;
}

.note-form-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.note-container {
    width: 400px;
    min-height: 110px;
    background-color: white;
    border: 1px solid #eaeaea;
    margin: 5px;
}

.buttons {
    text-align: right;
}

.edit-button {
    border: none;
    color: #555555;
    font-size: 18px;
}

.delete-button {
    border: none;
    color: #555555;
    font-size: 18px;
}

.buttons-edit {
    text-align: right;
    margin: 10px 10px 0 0;
}

