/* .hidden {
    display: none;
} */

* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: #333333;
}

.title {
    margin: 5%, 5%, 0, 5%;
    text-align: center;
}

.text {
    font-size: 14px;
    text-align: left;
    color: #555555;
    padding-left: 5px;
    padding-right: 5px;
}

.note-form-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.note-container {
    width: 400px;
    background-color: white;
    border: 1px solid #eaeaea;
    margin: 5px;
}

.edit-button {
    border: none;
    color: #555555;
    font-size: 18px;
}

.delete-button {
    border: none;
    color: #555555;
    font-size: 18px;
}

